.elements{
    max-width: calc(100% - 200px * 2);
    margin: auto;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
}

@media screen and (max-width: 767px) {
    .elements{
        max-width: calc(100% - 19px *2);
    }
}